{
  "workbench.sideBar.location": "left",
  "window.zoomLevel": 1,
  "workbench.colorTheme": "Monokai Pro",
  "workbench.iconTheme": "Monokai Pro Icons",
  "editor.formatOnSave": true,
  "editor.renderWhitespace": "none",
  "breadcrumbs.enabled": true,
  "editor.minimap.enabled": false,
  "prettier.tabWidth": 1200,
  "prettier.vueIndentScriptAndStyle": true,
  "prettier.useTabs": true,
  "prettier.configPath": "/Users/alpha/Sites/notes/VSCode/.prettierrc",
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  },
  "[vue]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  },
  "redhat.telemetry.enabled": true,
  "liveServer.settings.donotShowInfoMsg": true,
  "explorer.confirmDelete": false,
  "editor.tabSize": 2,
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "vue-html": "html",
    "vue": "html"
  }
}
